{% extends 'base.html.twig' %}

{% block title %}Bonjour {{app.user.firstname}}{% endblock %}

{% block body %}
    <h1>Bonjour {{ app.user.firstname }}</h1>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{path('admin')}}" class="btn btn-primary">Gérer les utilisateurs</a>{% endif %}
    <a href="{{path('app_logout')}}" class="btn btn-warning">Me déconnecter</a>
{% endblock %}
